<section id="documents" class="documents">
  <div class="container">
    <h1>Wybierz dokument</h1>
    <a href="paszport.html">Zdjęcie do paszportu</a>
    <a href="dowod.html">Zdjęcie do dowodu</a>
    <a href="prawo.html">Zdjęcie do prawa jazdy</a>
    <a href="cv.html">Zdjęcie do CV</a>
    <a href="dyplom.html">Zdjęcie do dyplomu</a>
    <a href="legitymacja.html">Zdjęcie do legitymacji studenckiej</a>
  </div>
</section>