@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}
img,
svg,
picture,
video {
  display: block;
  max-width: 100%;
}
input,
textarea,
button,
select {
  font: inherit;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
html {
  scroll-behavior: smooth;
  color-scheme: dark light;
}
html,
body {
  min-height: 100%;
  height: auto;
}
body {
  font-family: "Poppins", sans-serif;
  background: white;
  color: #434343;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.container {
  padding-inline: 1rem;

  width: 1400px;
  max-width: 100vw;
  margin-inline: auto;
}
a {
  color: inherit;
  text-decoration: none;
}
