.go-to {
  position: fixed;
  z-index: 999;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 0 0 3px #434343;
  padding-block: 0.5rem;
  transform: translateY(100%);
  transition: transform ease-in-out 0.3s;
  .btn {
    margin: 0;
    @media (max-width: 30rem) {
      text-align: center;
    }
  }
}
.show-go-to {
  transform: translateY(0%);
}
