@use "./styles/global";
@use "./styles/colors";

@use "./styles/preloader";
@use "./styles/header";
@use "./styles/progress";
@use "./styles/typography";
@use "./styles/hero";
@use "./styles/app";
@use "./styles/ui";
@use "./styles/footer";
@use "./styles/documents";
@use "./styles/goelement";
@use "./styles/howto";
@use "./styles/requirments";
.d-none {
  display: none !important;
}
// :root {
//   font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
//   line-height: 1.5;
//   font-weight: 400;
//   color-scheme: light dark;
//   color: rgba(255, 255, 255, 0.87);
//   background-color: #242424;
//   font-synthesis: none;
//   text-rendering: optimizeLegibility;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   -webkit-text-size-adjust: 100%;
// }
// a {
//   font-weight: 500;
//   color: #646cff;
//   text-decoration: inherit;
// }
// a:hover {
//   color: #535bf2;
// }
// #hero {
//   display: flex;
//   min-height: 100vh;
//   min-height: 100svh;
// }
// body {
//   margin: 0;
//   display: flex;
//   place-items: center;
//   min-height: 100vh;
//   min-height: 100svh;
// }
// header {
//   display: grid;
// }

.counting {
  z-index: 999999;
  position: fixed;
  inset: 0;
  color: #5e5c5c;
  background: rgba($color: #ccc, $alpha: 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
